

/*Tablet & Mobile  */
@media (max-width:1023px) {
    .btn {
        padding: 15px 16px;
    }
    .contact-form .form-control {
        padding:15px;
    }

    #nav .subnav a {
        padding: 5px 12px;
    }

    #footer .socials-list {
        font-size: 48px;
    }

    #footer .socials-list a {
        margin:0 8px;
    }

    #footer .copyright {
        padding: 12px 0;
        display: inline-block;
        font-size: 28px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .contact-info {
        line-height: 2;
    }
}
@media  (max-width:740px) {
    .s-full-width,
    .s-col-full {
        width:100%;
    }

    .s-mt-8 {
        margin-top:8px !important;
    }
    #nav {
        display:block;
    }
    #nav > li {
        display:block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
         position: initial;
    }

    #nav .subnav a {
        color:#fff;
        padding: 5px 41px;
    }

    #header  .mobile_menu_btn {
        display:block;
    }
    #header .search-btn {
        display:none;
    }
    
    #content .member-img {
        width:60%;
    }

    .contact-form {
        margin-top: 16px;
    }
}